

.header {
    background-color: white;
    padding: 20px 0;
    border-bottom: 1px solid orange;

    .header__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header__logo {
            display: flex;
            gap: 10px;
            align-items: center;
        }
        ul {
            display: flex;
            gap: 20px;
            padding: 0;
            li a {
                font-weight: bold;
            }
        }
        .header__block {
            display: flex;
            gap: 10px;
        }
    }
}

@media (max-width: 1000px) {
    .header {
        .header__nav ul {
            display: none;
        }
    }
}